@page
@model ApiDevExtreme.Pages.Flows.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Flow</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Flow.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Flow.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Flow.Shortcut)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Flow.Shortcut)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Flow.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Flow.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Flow.Type)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Flow.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Flow.RangeStart)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Flow.RangeStart)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Flow.RangeEnd)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Flow.RangeEnd)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Flow.Value)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Flow.Value)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Flow?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
