@page
@model ApiDevExtreme.Pages.Projects.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Project[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project[0].Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project[0].StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project[0].EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project[0].LabourCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project[0].MaterialCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project[0].StrategyCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project[0].Revenue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project[0].Country)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Project) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LabourCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaterialCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StrategyCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Revenue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
